@import "tailwindcss";

@theme {
  --color-brand-blue: #0056b3;
  --color-brand-dark: #1a1a1a;
  --color-brand-light: #f8f9fa;
  --font-family-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;
}
